.logo {
    background: lightblue url("logo.png");
    background-position: left;
    background-repeat: cover;
    background-size: 200px,200px;
    min-height: 150px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.bg-color-name-title {
    background-color: #b7adad;
    height:150px;
}

.heading {
    height:360px;
    
}




